<mat-card style="max-width: 500px; width: 95%; margin: auto; margin-top: 100px;">
  <mat-card-header class="login-title">
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content style="margin-top: 20px;">
    <form action="" method="post">
      <mat-form-field class="full-width">
        <input matInput placeholder="Username" name="username" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" name="password" type="password" [(ngModel)]="password">
      </mat-form-field>
      <mat-checkbox class="example-margin" name="rememberMe" [(ngModel)]="rememberMe">Remember me</mat-checkbox>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="full-width" color="primary" (click)="login()">
      <span *ngIf="!isLoading">Login</span>
      <span *ngIf="isLoading">
        <mat-spinner style="margin: auto;" [diameter]="30" color="warn">
        </mat-spinner>
      </span>
    </button>
    <hr>
    <button mat-button class="full-width" style="margin: 0px;" (click)="goToRegister()">
      <span>Register</span>
    </button>
  </mat-card-actions>
</mat-card>
