<mat-card class="container" style="margin: 20px auto; max-width: 700px;" *ngIf="post">
  <mat-card-header>
    <div mat-card-avatar [style.background-image]="profileIcon" class="example-header-image"></div>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ post.user.username }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider>
  </mat-divider>
  <mat-card-content style="margin-top: 20px;">
    <p style="white-space: break-spaces;">{{ getContent() }}</p>
    <carousel cellWidth="100%" height="376" [dots]="true" *ngIf="post?.attachments?.collection?.elements?.length > 0">
      <div class="carousel-cell" *ngFor="let item of post?.attachments?.collection?.elements">
        <img [src]="'https://localhost:8000/' + item.fileName" *ngIf="item.fileName.indexOf('mp4') === -1" alt="2">
        <video controls *ngIf="item.fileName.indexOf('mp4') !== -1">
          <source [src]="'https://localhost:8000/' + item.fileName" type="video/mp4">
        </video>
      </div>
    </carousel>
  </mat-card-content>
  <mat-card-actions style="text-align: right;">
    <button mat-button color="primary" (click)="openFullPost(post)">More</button>
  </mat-card-actions>
</mat-card>
