::ng-deep mat-card {
  padding: 16px 0px;
}

.profile-img-edit-button {
  position: relative;
  color: white;
  top: -162px;
  width: 100px;
  height: 100px;
  visibility: hidden;
}

.profile-img-edit-button .mat-icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 65px;
}

.user-logo:hover .profile-img-edit-button {
  visibility: initial;;
}

.cover-img-edit-button {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  visibility: hidden;
}

.bg-wrap:hover .cover-img-edit-button {
  visibility: initial;
}

.user-data {
  width: 50%;
  padding: 5px;
  display: inline-block;
}

.user-data:hover .edit-button {
  visibility: initial;
}

.edit-button {
  visibility: hidden;
}

.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-column-Actions {
  text-align: right;
}

.mat-column-ID {
  text-align: left !important;
  padding-right: 12px;
}

.mat-column-Ideja, .mat-column-Perfundimtare {
  text-align: justify;
  padding-right: 12px;
}
