
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="over" style="width: 300px;" [disableClose]="false">
    <app-user-sidenav></app-user-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="position: fixed; z-index: 2;">
      <button mat-icon-button *ngIf="isUserAuthenticated"><mat-icon (click)="drawer.toggle()">menu</mat-icon></button>
      <span>User Stories</span>
    </mat-toolbar>
    <div style="margin-top: 65px; z-index: 2;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
