<mat-card class="mat-elevation-z0" style="padding: 0px; margin: auto;">
  <mat-card-header>
    <div mat-card-avatar [style.background-image]="profileIcon" class="example-header-image"></div>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ post.user.username }}</mat-card-subtitle>
    <button mat-icon-button [mat-dialog-close]="true" style="position: absolute; right: 0;">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-dialog-content>
      <ngb-carousel cdkFocusInitial [interval]="false" *ngIf="post?.attachments?.collection?.elements?.length > 0">
        <ng-template ngbSlide *ngFor="let item of post?.attachments?.collection?.elements">
          <div class="picsum-img-wrapper" style="z-index: 0; text-align: center;">
            <img [src]="this.sharedService.url + '/' + item.fileName" class="img-fluid" style="max-height: 350px;"
              *ngIf="item.fileName.indexOf('mp4') === -1" alt="2">
            <video controls *ngIf="item.fileName.indexOf('mp4') !== -1" class="img-fluid" preload="metadata" style="max-height: 350px;">
              <source [src]="this.sharedService.url + '/' + item.fileName + '#t=1'" type="video/mp4">
            </video>
          </div>
        </ng-template>
      </ngb-carousel>
      <p style="white-space: break-spaces; margin-top: 20px;">{{ post.content }}</p>
    </mat-dialog-content>
  </mat-card-content>
</mat-card>
