<div class="img bg-wrap text-center py-4" [style.background-image]="backgroundImg" *ngIf="loggedinUser">
  <div class="user-logo">
    <div class="img" [style.background-image]="profileImg"></div>
    <h3>{{ loggedinUser.username }}</h3>
    <button mat-raised-button>Profile</button>
  </div>
</div>
<mat-selection-list #shoes [multiple]="false">
  <mat-list-option>
    <mat-icon mat-list-icon>home</mat-icon> Home
  </mat-list-option>
  <mat-list-option (click)="addPost()">
    <mat-icon mat-list-icon>add_circle</mat-icon>
    New post
  </mat-list-option>
  <mat-list-option (click)="logOut()">
    <mat-icon mat-list-icon>cancel</mat-icon>
    Logout
  </mat-list-option>
</mat-selection-list>
